@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Edu+NSW+ACT+Foundation:wght@500&family=Open+Sans:wght@400;500&family=Quicksand:wght@400;500;600&family=Sedgwick+Ave+Display&family=Tilt+Prism&display=swap");
#cont_meal {
  height: 100%;
  background: url(../images/footer.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#cont_meal #cont_meal_first {
  height: 30vh;
  background: rgba(116, 103, 67, 0.5490196078);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#cont_meal #meal_container {
  height: 66%;
  width: 100%;
  border: 5px solid #323232;
  margin-top: 2%;
  background: rgba(58, 51, 33, 0.6078431373);
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
#cont_meal #meal_container #meal_container_card {
  height: 50%;
  width: 30%;
  border: 10px solid white;
  position: relative;
}
#cont_meal #meal_container #meal_container_card #overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.411);
  height: 30%;
  width: 100%;
  bottom: 0;
}
#cont_meal #meal_container #meal_container_card #overlay #overlay_cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
}
#cont_meal #meal_container #meal_container_card img {
  display: block;
  width: 100%;
  height: 300px !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Tilt Prism", cursive;
}

#header_container {
  height: 225vh;
  width: 100%;
  background-image: url(../images/header_img1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media (max-width: 1025.9px) {
  #header_container {
    height: 277vh;
  }
}
#header_container #header_cont2 {
  height: 57vh !important;
  width: 100% !important;
  background-color: rgba(116, 103, 67, 0.5490196078);
  position: relative;
  font-family: "Quicksand", sans-serif;
}
#header_container #header_cont2 #header_cont2_div1 {
  padding-top: 40px;
  padding-bottom: 2px;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
#header_container #header_cont2 #header_cont2_div2 {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
#header_container #header_cont2 #header_cont2_div2 #header_cont2_div2_date {
  line-height: 10px;
  color: white;
  text-align: end;
}
#header_container #header_cont2 #header_cont2_div2 #header_cont2_div2_date p {
  text-decoration: underline;
}
#header_container #header_cont2 #cont2_nav {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
@media (max-width: 500.9px) {
  #header_container #header_cont2 #cont2_nav {
    justify-content: right;
  }
}
#header_container #header_cont2 #cont2_nav #cont2_nav_unordered {
  display: flex;
}
#header_container #header_cont2 #cont2_nav #cont2_nav_unordered li {
  list-style: none;
  border-right: solid;
  padding: 10px 55px;
  color: white;
  background-color: rgba(116, 103, 67, 0.5490196078);
}
@media (max-width: 500.9px) {
  #header_container #header_cont2 #cont2_nav #cont2_nav_unordered li {
    padding: 10px;
  }
}
#header_container #header_cont2 #cont2_nav #cont2_nav_unordered li a {
  text-decoration: none;
  color: white;
}
#header_container #header_cont2 #cont2_nav #cont2_nav_unordered li:hover {
  background-color: #000000;
}
#header_container #header_container_open {
  margin-top: 30px;
  height: 70vh;
  width: 50%;
  background-color: rgba(116, 103, 67, 0.5803921569);
  text-align: center;
}
@media (max-width: 1025.9px) {
  #header_container #header_container_open {
    width: 100%;
  }
}
@media (max-width: 768.9px) {
  #header_container #header_container_open {
    padding: 0 10px !important;
  }
}
#header_container #header_container_open p {
  color: white;
  font-size: 500%;
}
@media (max-width: 1025.9px) {
  #header_container #header_container_open p {
    font-size: 400%;
    padding-top: 50px;
  }
}
@media (max-width: 768.9px) {
  #header_container #header_container_open p {
    font-size: 300%;
    padding-top: 100px;
  }
}
#header_container #header_container_card {
  height: 100vh;
  background-color: rgba(252, 243, 215, 0.6941176471);
}
@media (max-width: 1025.9px) {
  #header_container #header_container_card {
    height: 152vh;
  }
}
#header_container #header_container_card #header_container_card1 {
  display: flex;
  gap: 10px;
  padding-top: 10px;
  text-align: center;
  color: white;
}
@media (max-width: 1025.9px) {
  #header_container #header_container_card #header_container_card1 {
    display: block;
  }
}
#header_container #header_container_card #header_container_card1 .card {
  height: 60%;
  background-color: #6d4737;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  text-align: center;
  color: white;
}
@media (max-width: 1025.9px) {
  #header_container #header_container_card #header_container_card1 .card {
    height: 25%;
    width: 105%;
    margin-bottom: 10px;
    float: right;
  }
}
@media (max-width: 500.9px) {
  #header_container #header_container_card #header_container_card1 .card {
    width: 100%;
  }
}
#header_container #header_container_card #header_container_card1 .card hr {
  height: 5px;
  background-color: rgba(116, 103, 67, 0.5490196078);
}
#header_container #header_container_card #header_container_card1 .card h3 {
  text-decoration: underline !important;
}

#second_section {
  height: 100vh;
  width: 100%;
  background-image: url(../images/wine.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#second_section #second_section_cont {
  padding: 50px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 1025.9px) {
  #second_section #second_section_cont {
    padding: 40px;
    position: relative;
  }
}
@media (max-width: 768.9px) {
  #second_section #second_section_cont {
    padding: 5px;
  }
}
@media (max-width: 1025.9px) {
  #second_section #second_section_cont #second_section_cont_img img {
    width: 400px;
  }
}
@media (max-width: 768.9px) {
  #second_section #second_section_cont #second_section_cont_img img {
    width: 300px;
    border-radius: 5px;
  }
}
#second_section #second_section_cont #second_section_cont_img p {
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: x-large;
}
@media (max-width: 1025.9px) {
  #second_section #second_section_cont #second_section_cont_img p {
    font-size: large;
  }
}
#second_section #second_section_cont #second_section_right {
  color: white;
  font-weight: bolder;
}
#second_section #second_section_cont #second_section_right h2 {
  font-weight: bolder;
}

#footer-cont {
  height: 105vh;
  background-image: url(../images/footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#footer-cont #footer-cont1 {
  height: 100vh;
  background-color: rgba(116, 103, 67, 0.5803921569);
  padding: 10% 30px;
  display: flex;
  gap: 10px;
  border: 4px solid white;
}
@media (max-width: 1025.9px) {
  #footer-cont #footer-cont1 {
    width: 100%;
    padding: 10px 15px;
  }
}
#footer-cont #footer-cont1 #footer_map {
  text-align: center;
  color: white;
}
#footer-cont #footer-cont1 #footer_map #map {
  height: 50vh;
  width: 100%;
}
@media (max-width: 1025.9px) {
  #footer-cont #footer-cont1 #footer_map #modal_contact {
    display: block !important;
  }
}
#footer-cont #footer-cont1 #footer_map1 {
  color: white;
}
@media (max-width: 1025.9px) {
  #footer-cont #footer-cont1 #footer_map1 {
    display: none;
  }
}
#footer-cont #footer-cont1 #footer_map1 h2 {
  text-align: center;
}
#footer-cont #footer-cont1 #footer_map1 form #form_footer .m-1 input {
  box-shadow: none !important;
  border: none !important;
  background: transparent;
  border-bottom: 1px solid white !important;
  border-radius: 0;
}
#footer-cont #footer-cont1 #footer_map1 form .mt-3 textarea {
  background: transparent !important;
  border-radius: 0 !important;
  border: none !important;
  color: white;
  box-shadow: none !important;
  border-bottom: 1px solid white !important;
}
#footer-cont #footer-cont1 #footer_map1 form .m-1 button {
  color: rgba(252, 243, 215, 0.6941176471);
}
#footer-cont #footer-cont1 #footer_map2 {
  text-align: center;
  color: white;
  width: 100% !important;
}
@media (max-width: 768.9px) {
  #footer-cont #footer-cont1 #footer_map2 {
    display: none;
  }
}
#footer-cont #footer-cont1 #footer_map2 h2 {
  text-decoration: underline;
}
#footer-cont #footer-cont1 #footer_map2 p {
  padding-top: 30px !important;
  line-height: 40px;
}
#footer-cont #footer-cont1 #footer_map2 #social_handles {
  font-size: 40px !important;
  color: black !important;
  padding-top: 60px;
}/*# sourceMappingURL=style.css.map */